.blue{
color: rgb(186, 214, 213);
}

.center{
	text-align: center;
}

.cursive{
	font-family: cursive;
}

.size{
	font-size: 35px;
}

.background-color{
	background-color: rgb(253, 253, 185);
}

body{
	background-color:
}

h5{
  color: rgb(173, 189, 204);
  font-family: cursive;
  text-align: center;
  font-size: 17px;
  background-color: rgb(253, 253, 185);
}

h4{
  color: antiquewhite;
  font-family: cursive;
  text-align: center;
  font-size: 20px;
}

.nav print{
  padding-top: 5px;
  padding-left: 10px;
}

.nav a{
  text-decoration: none;
  color: rgb(160,186,207);
  font-family: cursive;
  padding: 30px;
}

.nav{
  background-color: rgb(176, 153, 174, 0.2);
}

.column{
  float : left;
  width : 33.3%;
}

.row:after{
  content : "";
  display : table;
  clear : both;
}