.center{
	text-align: center;
}

.cursive{
	font-family: cursive;
}

.size{
	font-size: 35px;
}

.background-color{
	background-color: #f7c59a;
}

body{
	background-color: rgb(255, 255, 208);
	margin-left: -8px;
	margin-right: -8px;
}

h5{
  color:#468282;
  font-family: cursive;
  text-align: center;
  font-size: 17px;
  background-color:rgb(235, 235, 180);
}

h4{
  color: #D2B48C;
  font-family: cursive;
  text-align: center;
  font-size: 20px;
}

.column{
  float : left;
  width : 33.3%;
}

.row:after{
  content : "";
  display : table;
  clear : both;
}

.Navbar{
 background-color: #D3D3D3;
 overflow: hidden;
}

.Navbar a{
float: left;
color: black;
text-align: center;
padding: 14px;
text-decoration: none;
font-size: 17px;
}

.Navbar a:hover{
background-color : black;
color : white;
}

.navbar a.active{
  background : green;
  color : white;
}